<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="container">
	    <%= link_to "Blog", root_url, :class => "navbar-text navbar-left" %>
      <%= link_to "New Post", new_post_path, :class => "navbar-text navbar-left" %>
	  </div>
	</div>

	<div class = "container">
		<% if flash[:notice] %>
		  <div class="alert alert-success">
		    <%= flash[:notice] %>
		  </div>
		<% elsif flash[:alert] %>
		  <div class="alert alert-danger">
		    <%= flash[:alert] %>
		  </div>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
